* {
  font-family: "Roboto", sans-serif;
}
*:focus {
  outline: none;
}
body {
  background-color: #fafaff;
}
*::placeholder {
  color: #b3b7c2;
  font-weight: 300;
  font-family: "Rubik";
}
a {
  cursor: pointer;
}
.ql-container.ql-snow {
  border: none;
}
.ql-toolbar.ql-snow {
  border-top: 1px solid #787f92;
  border-right: 0;
  border-bottom: 1px solid #787f92;
  border-left: 0;
}
